<!-- HEADER.EJS -->

<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title><%= title %></title>
	<link rel="stylesheet" href="stylesheets/reset.css" type="text/css">
	<link rel="stylesheet" href="stylesheets/style.css" type="text/css">
</head>

<body>
